
.login-container {
  width: 90vw;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 300px;
  gap: 30px;
}